# API Test cases list and execution order

API.Tests.Features.F1_CreateBookingFeature.TestCase01_CreateBookingPostiveScenario
API.Tests.Features.F1_CreateBookingFeature.TestCase02_CreateBookingNegativeScenarioNullCheck
API.Tests.Features.F1_CreateBookingFeature.TestCase03_CreateBookingNegativeScenarioInvalidDateCheck
API.Tests.Features.F2_GetookingFeature.TestCase04_GetBookingPostiveScenario
API.Tests.Features.F2_GetookingFeature.TestCase05_GetBookingNegativeScenarioWithInvalidBookingID
API.Tests.Features.F3_UpdateBookingFeature.TestCase06_UpdateBookingPostiveScenario
API.Tests.Features.F3_UpdateBookingFeature.TestCase07_UpdateBookingNegativeScenarioWithInvalidDate
API.Tests.Features.F4_DeleteBookingFeature.TestCase08_DeleteBookingPostiveScenario
API.Tests.Features.F4_DeleteBookingFeature.TestCase09_DeleteBookingNegativeScenarioWithInvalidBookingId
API.Tests.Features.F4_DeleteBookingFeature.TestCase10_DeleteBookingNegativeScenarioWithInvalidAuthToken

#######################################################################################################################

# UI Test Cases list and execution order

#UI.Tests.Features.TC1_FormAuthenticationFeature.TestCase1_FormAuthenticationDemonstration
#UI.Tests.Features.TC2_DynamicLoadingFeature.TestCase2_DynamicLoadingDemonstration
#UI.Tests.Features.TC3_MultipleWindowsFeature.TestCase3_MultipleWindowsDemonstration
#UI.Tests.Features.TC4_DragAndDropFeature.TestCase4_DragAndDropDemonstration
#UI.Tests.Features.TC5_FramesFeature.TestCase5_FramesDemonstration
#UI.Tests.Features.TC6_JavaScriptAlertsFeature.TestCase6_JavaScriptAlertsDemonstration